body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* Header */

.header {
  grid-column: 2 / 3;
  background-color: #eef2ff;
  border-bottom: 4px solid #d6d9e4;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  align-items: center;
}

.top-left-side {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  padding-left: 50px;
}

label {
  align-content: center;
}

label > img {
  height: 75%;
}

.top-left-side > #search {
  background-color: #c8cfe7;
  padding: 4px;
  height: 1.25rem;
  width: 40rem;
  border: 0;
  border-radius: 15px;
}

.top-right-side {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 25px;
  justify-self: right;
  padding-right: 50px;
  align-items: center;
}

.user-profile > img {
  width: 3rem;
  height: 3rem;
}

.user-name {
  font-weight: 700;
}

.header-bottom {
  grid-row: 2/3;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  align-items: center;
}

.bottom-left-side {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  padding-left: 4rem;
}

.user-profile-2 > img {
  width: 4rem;
  height: 4rem;
}

.welcome-text,
.tag {
  font-weight: 700;
}

.bottom-right-side {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.new,
.upload,
.share {
  height: 50%;
  width: 90%;
  border: 0;
  background-color: #818cf8;
  border-radius: 15px;
  color: white;
  font-weight: 700;
}

/* Sidebar */

.sidebar {
  height: 100%;
  background-color: #a5b4fc;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 8fr;
  gap: 20px;
}

.logo {
  color: black;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.logo-text {
  font-size: 1.75rem;
  font-weight: 700;
  color: black;
}

.top-links > ul {
  height: 100%;
  margin: 0;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

.top-links > ul > li,
.bottom-links > ul > li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  color: black;
}

.bottom-links > ul {
  height: 100%;
  margin: 0;
  padding-top: 20px;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(3, 0.6fr) 4fr;
  gap: 15px;
}

/* Main */

.main {
  max-height: 100%;
  background-color: #e0e7ff;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  gap: 30px;
}

.container-1 {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.heading {
  font-weight: 700;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.project {
  display: grid;
  grid-template-rows: 4fr 1fr;
  background-color: white;
  border-left: 8px solid #c2b5ec;
  border-radius: 10px;
}

.project-content {
  display: grid;
  grid-template-rows: 1fr 3fr;
  padding: 10px;
}

.project-heading {
  text-align: left;
  align-content: center;
  font-weight: 700;
}

.project-text {
  font-size: 0.95rem;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
}

.container-2 {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.announcements-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  background-color: white;
  border-radius: 15px;
}

.announcements, .trends {
  text-align: center;
  padding-top: 5px;
}

.announce {
  padding: 16px;
}

h4 {
  font-size: 0.8rem;
  text-align: left;
  margin: 0;
}
p {
  font-size: 0.7rem;
  text-align: left;
  margin: 0;
}

.trending-container {
  display: grid;
  grid-template-rows: auto repeat(4, 1fr);
  background-color: white;
  border-radius: 15px;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  align-items: center;
}

.trending-user {
  font-size: 0.75rem;
}

.user-profile-trend {
  display: flex;
  justify-content: flex-end;
}

.user-profile-trend > img {
  width: 70%;
  height: 70%;
}

.username {
  font-weight: 600;
}

/* Miscaellaneous */

.project-icons > img {
  width: 24px;
}

.logo-icon > img {
  width: 60px;
}

ul > li > img {
  width: 24px;
}

ul {
  list-style-type: none;
}
